.OrdersList {
  margin-top: 20px;
}

.OrderID {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 20px;
}

.OrderDate {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}

.ElementClass {
  font-size: 12 !important;
  padding: 20px 10px;
  margin: 20px 0;
  display: block;
}
.Products {
  margin: 40px 0;
  -webkit-box-shadow: -1px 7px 39px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 39px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 7px 39px -13px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 10px;
}
.ElementClass img {
  float: left;
}

.Size,
.Quantity,
.Price {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  margin: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.TotalPrice {
  font-weight: bolder;
  float: right;
  font-size: 25px !important;
}

.Price {
  color: #222;
}

.Name {
  padding-left: 110px;
  padding-top: 10px;
}

@media screen and (max-width: 747px) {
  .OrderID {
    margin: 0 5px;
    font-size: 18px;
  }
}
