.Footer {
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.bottomDeco {
  transform: rotate(180deg);
  width: 100%;
  margin-top: -10px;
}

.ContentDiv {
  padding: 80px;
  text-align: left;
}
.ContentDiv div {
  padding-left: 80px;
}
@media screen and (max-width: 747px) {
  .bottomDeco {
    margin-top: -21px;
  }
  .ContentDiv {
    padding: 20px;
  }
  .ContentDiv div {
    margin: 20px 0;
    padding-left: 0;
  }
}

.Footer i {
  margin: 0 20px;
}
