.Header {
  padding: 40px;
  text-align: center;
}

.Header a {
  color: #fff;
  margin: 0 20px;
  padding-bottom: 10px;
}

.Header a:hover {
  color: #fff;
}

.Header img {
  width: 80%;
  max-width: 200px;
  margin-top: 0 !important;
}

.Orange {
  color: #f3a531 !important;
}

.CartCount {
  position: absolute !important;
  top: -12px;
  right: -12px;
  font-size: 25px !important;
  background-color: #f3a531;
  padding-top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 747px) {
  .CartCount {
    position: absolute !important;
    top: -12px;
    right: -12px;
    font-size: 20px !important;
    padding-top: 0px;
    width: 23px;
    height: 23px;
  }
  .Header {
    padding-top: 20px;
  }
  .Header a {
    color: #fff;
    margin: 10px;
  }

  .TextRight {
    float: right !important;
  }
  .TextLeft a {
    float: left;
  }
}
