.Section1 {
  position: relative;
  overflow: hidden;
}

.Section1 div {
  position: relative;
}

.Section1 img {
  margin-top: 30px;
  transition: 3s all ease;
}

.Layer_1 {
  width: 80%;
  max-width: 500px;
}

.Layer_2 {
  width: 90%;
  max-width: 850px;
}

.bottomDeco {
  position: absolute;
  left: 0;
  bottom: 0;
}

.tomatoes {
  position: absolute;
  width: 50%;
  max-width: 300px;
  left: 0;
  bottom: -100px;
}

.leaves {
  position: absolute;
  width: 40%;
  max-width: 100px;
  margin-top: 0 !important;
}

@media screen and (max-width: 747px) {
  .tomatoes {
    max-width: 200px;
  }
  .Section1 img {
    margin-top: 50px;
  }
  .leaves {
    max-width: 60px;
  }
}

.Section1 button {
  background-color: #f3a531;
  margin-top: 5px;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 800 !important;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
